<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justfy-content-between">
        <a
            href="../../index.html"
            class="navbar-brand d-flex align-items-center"
        >
            <i class="fa fa-camera-retro"
                ><strong class="pl-2">Galeria</strong></i
            >
        </a>
        <button
            class="navbar-toggler collapsed"
            data-toggle="collapse"
            data-target="#header"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bg-dark collapse" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Sobre</h4>
                <p class="text-muted">
                    Uma galeria de fotos com os carros mais icônicos do Japão,
                    principalmente as suas versões dos anos 90. Um conjunto de
                    simplicidade, beleza, fiabilidade e performance. JDM
                    (Japonese Domestic Market)
                </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contato</h4>
                <!--list unstyled (lista sem estilo)-->
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="https://twitter.com/MatheusGot"
                            class="text-white"
                            >Twitter</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/matheuscolorado.oliveira/"
                            class="text-white"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/mathgott_/"
                            class="text-white"
                            >Instagram</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
